<ion-app>
  <ion-split-pane when="md" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-text class="ion-padding">
            Windy
          </ion-text>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-content>
          <h1 style="margin-left: 10px">Layers</h1>

          <ion-list>
            <!-- Land Parcel - Polygon (Enabled by default) -->
            <ion-item>
              <ion-label>Land Parcel - Polygon</ion-label>
              <ion-checkbox checked></ion-checkbox>
            </ion-item>

            <!-- Land Parcel - Point -->
            <ion-item>
              <ion-label>Land Parcel - Point</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>

            <!-- LGA -->
            <ion-item>
              <ion-label>Local Government Areas</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-content>
    </ion-menu>
    <div class="ion-page" id="main">
      <ion-header>
        <ion-toolbar>
          <!-- Add the ion-menu-button here -->
          <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
<!--        <div-->
<!--          class="leaflet"-->
<!--          leaflet-->
<!--          (leafletMapReady)="onMapReady($event)"-->
<!--          [leafletOptions]="mapOptions"-->
<!--        ></div>-->
        <app-windy-map></app-windy-map>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>
